<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Ingredientes</title>
		<object th:replace="common/header :: common-header" />
	</head>
	<body>
		<div th:replace = "common/navbar :: common-navbar">NAVBAR</div>
		<div class="container">
			<div class="well">
				<div class="text-center">
					<h2 text = "center">Ingredientes</h2>
				</div>
				<table class="table table-bordered">
				    <thead>
				      <tr>
				        <th>Codigo</th>
				        <th>Nombre</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr th:each = "ingrediente : ${ingredientes}">
				        <td th:text = "${ingrediente.getIdIngrediente()}"></td>
				        <td th:text = "${ingrediente.getNombre()}"></td>
				      </tr>
				    </tbody>
				  </table>
			</div>
		</div>
	</body>
</html>