<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Ingredientes</title>
		<object th:replace="common/header :: common-header" />
	</head>
	<body>
		<div th:replace = "common/navbar :: common-navbar">NAVBAR</div>
		<div class="container">
			<div class="well">
				<div class="text-center">
					<h2 text = "center" th:text = "${receta.getName()}"></h2>
				</div>
				<table class="table table-bordered">
				    <thead>
				      <tr>
				        <th>Nombre</th>
				        <th>Cantidad</th>
				        <th></th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr th:each = "ingredienteReceta : ${ingredientesReceta}">
				        <td th:text = "${ingredienteReceta.getIngrediente().getNombre()}"></td>
				        <td th:text = "${ingredienteReceta.getCantidadIngrediente()}"></td>
				        <td>
				        	<a th:href="@{/receta/modificar(idIngredienteReceta = ${ingredienteReceta.getIdIgredienteReceta()})}" class="btn btn-primary">
				        		<span class="glyphicon glyphicon-pencil"></span>
			        		</a>
			        		
	        	           <form th:action="@{/receta/ingrediente}" th:method="DELETE" class="inlineForm">
				              <input type="hidden" id="idIgredienteReceta" name="idIgredienteReceta" th:value="${ingredienteReceta.getIdIgredienteReceta()}"/>
				              <input type="hidden" id="idReceta" name="idReceta" th:value="${ingredienteReceta.getReceta().getIdReceta()}"/>
				              <button type="submit" value="Submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
				           </form>
			        	</td>
				      </tr>
				    </tbody>
				  </table>
				  <a th:href="@{/recetas}" class="btn btn-primary">Volver</a>
			</div>
		</div>
	</body>
</html>