<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Ingrediente</title>
		<object th:replace="common/header :: common-header" />
	</head>
	<body>
		<div th:replace = "common/navbar :: common-navbar">NAVBAR</div>
		<div class="container">
			<div class="col-md-6 col-md-offset-3">
				<div class="well">
					<div class="text-center">
						<h1>Modificar Ingrediente</h1>
					</div>
					<div class="text-left">
						<form th:action="@{/receta/modificar}" method="POST">
							<input type="hidden" th:field="${receta.idReceta}" />
							<input type="hidden" id="idIngredienteReceta" name="idIngredienteReceta" th:value="${idIngredienteReceta}" />
							<div class="form-group">
								<label>Ingrediente</label>
								<input type="text" class="form-control" th:value="${ingrediente.getNombre()}" disabled="true"/>
							</div>
							<div class="form-group">
								<label>Cantidad</label>
								<input type="number" class="form-control" name="cantidad" id="cantidad" th:value="${cantidad}"/>
							</div>
							<div class="form-group">
									<input type="submit" class="btn btn-primary" value="Enviar"/>
									<a th:href="@{/receta/ingredientes(idReceta = ${receta.getIdReceta()})}" class="btn btn-danger">Volver</a>
							</div>
						</form>
					</div>			
				</div>
			</div>
		</div>
	</body>
</html>