<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  	<link rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
  	<link th:href="@{/css/style.css}" rel="stylesheet" />
  	<title>Cliente</title>
  </head>
  <body>
  	<div th:replace="common/navbar :: navbar">NAVBAR</div>
  	<div class="container">
	  	<div class="col-md-6 col-md-offset-3">
 		<div class="alert alert-danger" th:if="${!mensaje.equals('')}"
	  		 th:text = "${mensaje}"></div>
		  	<div class= "well">
			    <h1 >Ingresar</h1>
	  		    <form th:action="@{/login}" method = "post" th:object="${empleado}">
			    	<div class="form-group">
			    		<label>Usuario</label>
			    		<input type = "text" max="12" th:field = "*{usuario}" class="form-control" required="required"/>
			    	</div>
			    	<div class="form-group">
			    		<label>Contraseña</label>
			    		<input type = "password" th:field = "*{contrasenia}" class="form-control" required="required"/>
			    	</div>
			    	<div class="form-group">
			    		<input class="btn btn-primary" type = "submit" 
			    		value = "Enviar" />
			    	</div>
			    </form>
			    <a th:href="@{/empleado}">Crear Usuario</a>
		    </div>
	    </div>
    </div>
  </body>
</html>