<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
  	<link th:href="@{/css/style.css}" rel="stylesheet" />
  	<title>Orden</title>
  </head>
  <body>
  	<div th:replace="common/navbar :: navbar">NAVBAR</div>
  	<div class="container">
	  	<div class="col-md-6 col-md-offset-3">
		  	<div class= "well">
			    <h1 class="col-sm-offset-4" th:text="${orden.getMarca()} + ' ' + ${orden.getPatente()}"></h1>

			    <form th:action="@{/orden/cerrar}" method = "post" th:object="${orden}">
					<input type = "hidden" th:field = "*{idOrden}" class="form-control" />		    	
			    	
			    	<div class="form-group">
			    		<label>Horas Trabajadas</label>
			    		<input type = "number" th:field = "*{horasTrabajadas}" class="form-control" required="required"/>
			    	</div>
			    	
				    <div class="form-group">
			    		<a th:href = "@{/ordenes}" 
					  	   th:text = "Volver" class="btn btn-info" ></a>
			    		<input class="btn btn-success" type = "submit" 
			    		       value = "Finalizar" />
			    	</div>
			    </form>
		    
		    </div> <!-- .well -->
	    </div>
    </div> <!-- .container -->
  </body>
</html>